.ArticleGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.ArticleGridCell {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  border-radius: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  padding: 1.4rem;
  width: 20rem;
  transition: background-color 0.4s, flex-grow 0.2s;
}

.ArticleGridCell:hover {
  background-color: #fcf4c5db;
  flex-grow: 0.1;
}

.ArticleGridDescription {
  height: 6rem;
}

.ArticleGridSubtitle {
  display: flex;
  margin: 0.5rem 0;
}

.ArticleGridTitle {
  display: flex;
  white-space: normal;
  text-overflow: ellipsis;
  margin: 0.5rem 0;
}

.ArticleGridCellImage {
  width: 100%;
  height: 18rem;
  border-radius: 1.2rem;
  object-fit: cover;
  object-position: center;
}

.ArticleGridCell h4 {
  color: gray;
  font-family: Inter;
}

@media (max-width: 810px) { /*tablet breakpoint*/
  .ArticleGridCell {
    width: 15rem;
    margin: 1rem 0.5rem;
  }

  .ArticleGridTitle {
    line-height: 1.4rem;
  }
}

@media (max-width: 480px) { /*mobile breakpoint*/

  .ArticleGridCell {
    width: 100%;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    height: 5rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  .ArticleGridCellImage {
    max-height: 4rem;
    max-width: 4rem;
  }

  .ArticleGridButton {
    display: none;
  }

  .ArticleGridTitle {
    line-height: 1.25rem;
    font-size: medium;
    margin: 0.1rem 0;
  }

  .ArticleGridSubtitle {
    margin: 0.1rem 0;
  }

  .ArticleGridDescription {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
